<% include ../partials/header%>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Recipes</p>
            <div class="list-group">
                <li class="list-group-item">Info1</li>
                <li class="list-group-item">Info2</li>
                <li class="list-group-item">Info3</li>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= recipe.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"><%=recipe.price%>/night</h4>
                    <h4><a><%= recipe.name%></a></h4>
                    <p><%= recipe.description%></p>
                    <p>Submited by: <%= recipe.author.username%></p>
                    <% if(currentUser && recipe.author.id.equals(currentUser._id)) {%>
                        <a class="btn btn-warning" href="/recipes/<%= recipe._id%>/edit">Edit</a>
                        <form id="delete-form" action="/recipes/<%= recipe._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            
            <div class="well">
                <div class="text-right">
                     <a class="btn btn-success" href="/recipes/<%= recipe._id%>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% recipe.comments.forEach(function(comment) {%>
                    <div class="row">
                        <div class="col-md-12">
                            <%= comment.author.username%>
                            <span class="pull-right">10 days ago</span>
                            <p><%= comment.text%></p>
                        </div>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
                            <a class="btn btn-xs btn-warning" href="/recipes/<%= recipe._id%>/comments/<%= comment._id%>/edit">Edit</a>
                            <form id="delete-form" action="/recipes/<%= recipe._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        <% }%>
                    </div>
                <% }); %>
            </div>
            
        </div>
    </div>
    
</div>


<% include ../partials/footer%>